@media screen and (max-width: 1024px) {
  .container {
    .content {
      .searchContent {
        padding: 15px;
        gap: 15px;
        .books {
          img {
            width: 150px;
          }
          .book {
            .authors {
              padding: 0;
            }
            a {
              padding: 10px 0;
              font-size: 20px;
            }
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .content {
      .formError {
        width: 70%;
      }
      padding: 20px;
      .searchContent {
        grid-template: auto / 1fr;
        padding: 15px;
        gap: 20px;
        .books {
          img {
            width: 200px;
          }
          .book {
            a {
              font-size: 25px;
            }
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .content {
      .formError {
        width: 90%;
      }
      .searchBar {
        button {
          font-size: 18px;
        }
      }
      .searchContent {
        .books {
          padding: 5px;
          img {
            width: 150px;
          }
          .book {
            a {
              font-size: 20px;
            }
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    .content {
      .formError {
        width: 100%;
      }
      .searchBar {
        input {
          font-size: 16px;
        }
      }
    }
  }
  .books {
    flex-direction: column;
    align-items: center;
  }
}
